// $base-color: #B60005;
$base-color: hsl(21,97,46%);
$base-color-dark: hsl(21,97,40%);
$base-color-bright:hsl(21,97,50%);

// $base-play-color: rgba(182,0,5,1);
// $base-play-color-light: rgba(248,229,230,1);
// $base-play-color-half-light: hsl(358,100%,60%);

// $main-base-color: #ea5505;
// $mini-base-color: rgba(0,191,255,1);
// $other-base-color: #888;

// $main-base-color-dark: hsl(21,96%,42%);
// $mini-base-color-dark: hsl(195,100%,45%);
// $other-base-color-dark: hsl(0,0%,48%);

// $main-play-color: #ea5505;
// $mini-play-color: rgba(0,191,255,1);
// $other-play-color: #888;

// $main-play-color-dark: hsl(21,96%,42%);
// $mini-play-color-dark: hsl(195,100%,45%);
// $other-play-color-dark: hsl(0,0%,48%);

// $main-play-color-light: #fdeee6;
// $mini-play-color-light: #e5f8ff;
// $other-play-color-light: #eee;

// $main-play-color-half-light: hsl(21,96%,60%);
// $mini-play-color-half-light: hsl(195,100%,60%);
// $other-play-color-half-light: hsl(0,0%,60%);