@import './_color.scss';

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "Sawarabi Mincho", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  // line-height: 1;
  -webkit-touch-callout: none;
  // -webkit-user-select: none;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
}

a {
  -webkit-touch-callout: none;
}

input:focus,
input[type="password"]:focus,
textarea:focus {
  outline: 0;
}

::selection {
  background: rgba(204,148,37,.2);
  color: #333;
}
::-moz-selection {
	background: rgba(204,148,37,.2);
	color: #333;
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
}

// 演奏会リストの表示に使用
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  /* opacity: 1; */
}

.react-confirm-alert-body {
  width: 270px;
  padding: 0;
  background: #fcfcfc;
  border-radius: 2px;
  color: #000;

  & > h1 {
    padding: 16px 16px;
    margin: 8px 0 0 0;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
  }
}

.react-confirm-alert-button-group {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  border-top: 1px solid #dbdbdf;

  & > button {
    display: inline-block;
    width: 50%;
    height: 44px;
    margin: 0;
    padding: 6px 18px;
    border: none;
    background: #f8f8f8;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    &:first-child {
      border-right: 1px solid #dbdbdf;
      border-radius: 0 0 0 2px;
      color: #488aff;
      font-weight: 600;
    }
    &:last-child {
      border-radius: 0 0 2px 0;
      color: #f53d3d;
    }
  }
}
.react-confirm-alert {

  .alert {
    width: 270px;
    padding: 0;
    background: #f8f8f8;
    border-radius: 2px;
    color: #000;

    & > h1 {
      padding: 12px 16px 7px;
      margin: 8px 0 0 0;
      font-size: 17px;
      font-weight: 600;
      text-align: center;
    }

    & > p {
      padding: 0 16px 21px;
      margin: 0;
      text-align: center;
      font-size: 13px;
    }

    & > .button-group {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      border-top: 1px solid #dbdbdf;

      & > button {
        display: inline-block;
        width: 50%;
        height: 44px;
        margin: 0;
        padding: 6px 18px;
        border: none;
        background: #f8f8f8;
        font-size: 17px;
        cursor: pointer;
        outline: none;
        &:first-child {
          border-right: 1px solid #dbdbdf;
          border-radius: 0 0 0 2px;
          color: #488aff;
          font-weight: 600;
        }
        &:last-child {
          border-radius: 0 0 2px 0;
          color: #f53d3d;
        }
        &:hover {
          background: #e9e9e9;
        }
      }
    }
  }
}