@import '../_color.scss';

.login {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.base {

  .header {
    width: 100%;
    margin: 24px auto;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    & > svg {
      display: block;
      width: 40%;
      max-width: 100px;
      margin: 0 auto;
      // fill: hsl(358,100,36%);
      fill: rgba(233,84,4,.2);
      // filter: drop-shadow(0 0 10px rgba(0,0,0,.2));
    }

    & > div {
      position: relative;
      // top: 0;
      // left: 0;
      // right: 0;
      margin: auto;
      padding: 6px;
      color: #333;
      
      span {
        display: block;
        text-align: center;
      }
      span.svg {
        font-family: "ten-mincho",serif;
        font-style: italic;
        font-size: 16px;

        svg {
          width: 40%;
          min-width: 280px;
          fill: #333;
        }
      }
      span.main-title {
        font-family: "ten-mincho",serif;
        font-size: 36px;
      }
    }
  }

  .form {
    width: calc(100% - 32px - 2px);
    margin: 0 auto 32px;
    padding: 16px;
    border: 0;
    border-radius: 2px;
    background: #fff;

    h2 {
      margin: 0 0 1em 0;
      border-bottom: 2px solid orange;
      font-size: 1.4em;
    }

    .error-message {
      margin: 16px 0 0;
      padding: 16px;
      border: 1px solid hsl(0,60,50);
      border-radius: 2px;
      background: hsl(0,60,80);
      font-size: 13px;
    }

    label {
      display: block;
      margin-top: 12px;
      margin-bottom: 6px;
      color: #333;
      font-size: 13px;
    }

    input {
      -webkit-appearance: none;
      display: block;
      width: calc(100% - 24px - 2px);
      margin: 0 0 8px;
      padding: 8px 12px;
      border: 1px solid rgba(204,204,204,1);
      border-radius: 2px;
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 1em;

      &:first-child {
        margin: 0 0 16px 0;
      }
    }

    button {
      width: 100%;
      border: 0;
      padding: 10px;
      margin: 16px 0;
      border-radius: 2px;
      background: #ddd;
      font-size: 16px;
      cursor: pointer;
      transition: all ease-in-out .1s;

      i {
        font-size: 24px;
      }

      &:hover {
        background: $base-color;
        color: #fff;
        transition: all ease-in-out 0s;
      }
      &:active {
        background: $base-color-dark;
        color: #fff;
        transition: all ease-in-out .1s;
      }

      &[disabled] {
        color: #888;

        &:hover {
          background: #ddd;
          color: #888;
        }
        &:active {
          background: #ddd;
          color: #888;
        }
      }
    }
  }

  // .link {
  //   margin: 24px 0;
  //   text-align: center;

  //   a {
  //     padding: 5px 10px;
  //     background: #888;
  //     color: #fff;
  //     border-radius: 2px;
  //     font-size: 13px;
  //     text-decoration: none;
  //   }

  //   i {
  //     margin: 0 5px;
  //   }
  // }

  .footer {
    text-align: center;
    font-family: "source-han-sans-japanese", sans-serif;

    // a {
    //   display: inline-block;
    //   margin: 8px auto;
    //   padding: 4px;
    //   background: #ccc;
    //   color: #333;
    //   text-decoration: none;

    //   &:hover {
    //     background: hsl(39,100,50%);
    //     color: #fff;
    //     transition: all ease-in-out 0s;
    //   }
    //   &:active {
    //     background: hsl(39,100,45%);
    //     color: #fff;
    //     transition: all ease-in-out 0s;
    //   }
    // }

    span {
      display: inline-block;
      margin: 32px auto;
      color: #666;
      font-size: 13px;

      &.name {
        // font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
      }
    }
  }
}